@font-face {
  font-family: "Archivo Black";
  src: url(polices/ArchivoBlack-Regular.ttf);
}

@keyframes shake {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(-12deg) scale(1.05);}
  50% { transform: rotate(12deg) scale(1.1);}
  75% { transform: rotate(-12deg) scale(1.05);}
  100% { transform: rotate(0deg) scale(1); }
}


* {
  box-sizing: border-box;
}

body {
  background-color: #1E1E2F;
}


/* Header */


header {
  color: #d1d7e0;
  font-family: Archivo Black;
}

.headerSticky {
  position: sticky;
  top: 0;
  z-index: 4;
}

header h1 {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.45rem;
}

header img {
  width: 3.7rem; 
  height: 3.7rem;
  background-color: #1E1E2F;
  outline: 0.2rem solid #1E1E2F;
  box-sizing: content-box;
  border-radius: 5rem;
  transition: box-shadow 0.4s;
}

header a {
  margin-right: 1.1rem;
}

.shake {
  animation: shake 0.5s ease;
}

/* Nav */


nav {
  background-color: #564f6f;
}

nav div {
  background-color: #564f6f;
  border-radius: 0.2rem;
}

nav div span {
  color: #d1d7e0;
  font-size: 2rem;
}

nav button:focus {
  color: transparent;
  outline: none;
}


.navLinks {
  color: #d1d7e0;
  padding-left: 1.2rem;
  background-color: #47415f;

}

.navLinksActive {
  color: #2D283E;
  background-color: #d1d7e0;
  padding-left: 1.2rem;
  border-radius: 0.2rem;
}

#burgerButton {
  padding-right: 90%;
  padding-left: 0.3rem;
}

/* Caroussel pubs */

.carouselButtonsDiv {
  margin-bottom: 0.3rem;
  color:#d1d7e0;
}

#carouselPubs img {
  object-fit: cover;
  width: 100%;
}


/* Caroussel Recommande */

#caroussel h2 {
  color: #afb5be;
  font-size: 1.2rem;
}

#caroussel h2 span {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.imageOverlay {
  border: 0.3rem solid #564f6f;
  background-color: #2D283E;
  border-radius: 0.4rem;
}

#carousselRecommandes img {
  border: 0.3rem solid #564f6f;
}

#caroussel h3 {
  color: #d1d7e0;
  margin-top: 0.3rem;
  border-bottom: 0.2rem solid #564f6f;
}


.purchaseDiv a {
  border: 0;
  border-radius: 0.3rem;
  margin: auto 0.15rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  justify-self: end;
}

.purchaseDiv a span {
  color: #2D283E;
}

.purchaseButton:active {
  text-decoration: underline;
}

.exand {
  height: 17.5rem;
}

#controlPrev span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-left: 1.4rem;
}

#controlNext span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-right: 1.4rem;
}



/* Dernières Sorties & Promotions */

.rabais {
  text-decoration: line-through;
  color: #979ca3
}

.pourcentageRabais {
  background-color: #1E1E2F;
  margin: auto 0.4rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.divContenu p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.divBoutonsAchatPasRabais {
  margin-top: 2.4rem;
}

.divBoutonsAchatBo6 {
  margin-top: 1.2rem;
}

.divBoutonsAchat a {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  margin-right: 0.1rem;
}

.divBoutonsAchat a span {
  color: #2D283E;
}


/* Dernières Sorties */

#dernieresSorties {
  margin-bottom: 2rem;
}

#dernieresSorties h2 {
  color: #afb5be;
  font-size: 1.2rem;
  padding-left: 0;
}

#dernieresSorties h2 span {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.dernieresSortiesDiv {
  background-color: #564f6f;
  border: 0.3rem solid #564f6f;
  color: #d1d7e0;
  
}

.dernieresSortiesDiv h5 {
  border-bottom: 0.2rem solid #1E1E2F;
  margin-bottom: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#controlPrevDS {
  margin-top: auto;
  margin-bottom: auto;
  height: 20%;
}

#controlNextDS {
  margin-top: auto;
  margin-bottom: auto;
  height: 20%;
}

#controlPrevDS span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-top: 2.25rem;
}

#controlNextDS span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-top: 2.25rem;
}

/* Vendeurs fiables */

#vendeursFiables {
  box-shadow: 0 0 2rem rgb(107, 107, 107);
}

/* promotions */

#promotions {
  margin-top: 2rem;
}

#promotions h2 {
  color: #afb5be;
  font-size: 1.2rem;
}

#promotions h2 span {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.promotionsDiv {
  background-color: #564f6f;
  border: 0.3rem solid #564f6f;
  color: #d1d7e0
}

.promotionsDiv h5 {
  border-bottom: 0.2rem solid #1E1E2F;
  margin-bottom: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#controlPrevPromotions {
  margin-top: auto;
  margin-bottom: auto;
  height: 20%;
}

#controlNextPromotions {
  margin-top: auto;
  margin-bottom: auto;
  height: 20%;
}

#controlPrevPromotions span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-top: 0.8rem;
}

#controlNextPromotions span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-top: 0.8rem;
}


/* Prochainement */

#prochainement h2 {
  color: #afb5be;
  font-size: 1.2rem;
}

#prochainement h2 span {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.divProchainement {
  border: 0.3rem solid #564f6f;
  background-color: #564f6f;
  color: #d1d7e0
}

.divProchainement div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.divProchainement h3 {
  font-size: 1.25rem;
}

.divProchainement p {
  margin-bottom: 0.3rem;
}

#prochainement img {
  border-radius: 0.3rem;
}

.divBoutonsAchatProchainement a {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  margin-right: 0.1rem;
}

.divBoutonsAchatProchainement a span {
  color: #2D283E;
}

#controlPrevProchainement {
  margin-top: auto;
  margin-bottom: auto;
  height: 40%;
}

#controlNextProchainement {
  margin-top: auto;
  margin-bottom: auto;

  height: 40%;
}


#controlPrevProchainement span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-bottom: 0.6rem;
}

#controlNextProchainement span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
  margin-bottom: 0.6rem;
}



/* Parcourir */

#parcourir div {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  background-color: #564f6f;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 2rem rgb(107, 107, 107);
}

#parcourir div a {
  background-color: #1E1E2F; 
  color: #d1d7e0;
  padding: 0.6rem 0.8rem;
  border-radius: 0.4rem;
  text-decoration: none;
}

#parcourir div a span {
  font-size: 1rem;
  margin-left: 0.2rem;
}


/* Footer */

footer {
  margin-top: 1.2rem;
  padding: 4rem;
  background-color: #363636;
}


/* Recherche */

#recherche {
  margin-top: 1rem;
}

#recherche input {
  background-color: #d1d7e0;
}

#recherche button {
  background-color: #564f6f;
  border-color: #564f6f;
  padding: 0 0.6rem;
}

#recherche button:active {
  background-color: #1E1E2F;
}

#recherche button span{
  color:#d1d7e0;
  font-size: 1.6rem;
}

/* Jeux */

#divJeux a {
  text-decoration: none;
}

.divProduits {
  margin-top: 1rem;
  background-color: #564f6f;
  border: 0;
  color: #d1d7e0;
  padding-left: 0;
}

.divProduits div {
  padding: 0.3rem;
}


.divProduits h3 {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divProduits p {
  margin-bottom: 0.1rem;
  font-size: 0.6rem;
}

.divProduits img {
  border-radius: 0.3rem;
}

.divProduits span {
  margin-left: 0.2rem;
  font-size: 0.6rem;
}

.prixOverlay {
  margin-right: 0; 
  margin-bottom: 15%;
}

.prixOverlay p {
  font-size: 0.7rem;
  margin-bottom: 15%;
  background-color:#564f6f;
  padding: 0.08rem 0.2rem 0.08rem 0.2rem;
  border-radius: 0.2rem;
}

.prixOverlayRabais {
  margin-right: 0; 
  margin-bottom: 15%;
}

.prixOverlayRabais p {
  font-size: 0.7rem;
  margin-bottom: 15%;
  background-color:#564f6f;
  padding: 0.08rem 0rem 0.08rem 0.2rem;
  border-radius: 0.2rem;
}

.prixOverlayRabais p span {
  background-color: #1E1E2F;
  padding: 0.2rem 0.2rem 0.24rem 0.2rem;
  border-radius: 0.2rem;
}

.prixOverlayAVenir {
  margin-right: 0; 
  margin-bottom: 15%;
}

.prixOverlayAVenir p {
  font-size: 0.7rem;
  margin-bottom: 15%;
  background-color:#404044;
  padding: 0.08rem 0.2rem 0.08rem 0.2rem;
  border-radius: 0.2rem;
}

#jeux {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

#jeux .col {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}


/* Pages produits */


#grilleJeu {
  width: 100%;
}

#grilleJeu .titreImage {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem
}

#grilleJeu h1 {
  font-size: 2rem;
  color: #d1d7e0;
  border-bottom: 0.3rem solid #d1d7e0;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  
}

#grilleJeu img {
  width: 100%;
  border-radius: 0.5rem;
  transition: transform 1s;
}

#grilleJeu img:hover {
  transform: scale(1.03);
  overflow: hidden;
}




.descriptionCourte {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem
}

.descriptionCourte p {
  padding: 0.5rem;
  background-color: #564f6f;
  border-radius: 0.5rem;
  color:#d1d7e0; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.descriptionCourte span {
  margin-right: 0.2rem;
}

.descriptionCourte .rempli {
  color:#d1d7e0;
}

.descriptionCourte .vide {
  color:#1E1E2F;
}

.descriptionCourte .positif {
  color: #50b14c;
}

.descriptionCourte .moyen {
  color:#ce9e00;
}

.acheterJeu {
  color:#d1d7e0;
  background-color: #564f6f;
  width: 100%;
  margin: 0;
}

.acheterJeu p {
  color:#d1d7e0;

}

.acheterJeu .achatJeuPanier {
  color:#1E1E2F
}

.prixJeu {
  background-color: #1E1E2F;
  padding: 1rem 5rem;
  border-radius: 0.3rem;
}

.prixJeu p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.prixJeu .pourcentageRabais {
  background-color: #564f6f;
}

.prixJeuNormal {
  background-color: #1E1E2F;
  padding: 0.5rem 5rem;
  border-radius: 0.3rem;
}

.dlc {
  background-color: #d1d7e0;
  color:#1E1E2F;
  padding: 0.2rem 0.4rem;
  font-size: 1.1rem;
  font-weight: bolder;
  border-radius: 0.4rem;
  margin-right: 0.4rem;
}

.panier a {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  margin-right: 0.1rem;
}

.panier a span {
  color: #2D283E;
}

#boutonsPanier a {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  margin-right: 0.1rem;
}

#boutonsPanier a span {
  color: #2D283E;
}

#boutonsPanierAVenir a {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  margin-right: 0.1rem;
}

#boutonsPanierAVenir a span {
  color: #2D283E;
}

.prixNormal {
  font-size: 1.2rem;
}


/* Page panier */

#panierVide {
  color:#d1d7e0;
  font-size: 1.3rem;
  margin-top: 2.9rem;
  margin-bottom: 20rem;
}

#resumeTitre {
  color:#d1d7e0;
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-bottom: 1.3rem;
  border-bottom: 0.2rem solid #d1d7e0;
}

.listePanier {
  padding: 1rem 1.5rem;
}

.jeuPanier {
  background-color: #564f6f;
}



.jeuPanierDiv {
  background-color: #564f6f;
  border: 0.3rem solid #564f6f;
  color: #d1d7e0
}

.jeuPanierDiv h5 {
  font-size: 1.2rem;
  border-bottom: 0.2rem solid #1E1E2F;
  margin-bottom: 0.4rem;
}

.jeuPanierContenu {
  padding: 0.8rem;
}

.jeuPanierContenu p {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.jeuPanierContenu form label {
  font-size: 1rem;
}

.jeuPanierContenu form select {
  border-radius: 0.3rem;
  background-color: #1E1E2F;
  border: 0.1rem solid #1E1E2F;
  color:#d1d7e0;
  margin-left: 0.2rem;

}

.jeuPanierContenu button {
  margin-top: 0.6rem;
  border-radius: 0.4rem;
  border: 0;
}

.jeuPanierContenu button span {
  font-size: 1.1rem;
  color:#1E1E2F;
}

#resumeCommande {
  background-color: #564f6f;
  color:#d1d7e0;
  padding: 1.5rem
}

#resumeCommande .titre {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#resumeCommande form {
  margin-top: 1.6rem;
}

#resumeCommande form label {
  display: block;
  margin-bottom: 0.15rem;
}

#resumeCommande input {
  border: 0.12rem solid #424242;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-right: 0.6rem;
}

#resumeCommande form button {
  border: 0;
  border-radius: 0.2rem;
  padding: 0.2rem 0.6rem;
  background-color: #1E1E2F;
  color:#d1d7e0
}

#resumeCommande form p {
  margin-top: 0.3rem;
  font-size: 0.85rem;
  color:#d1d7e0
}

.sousTotal {
  border-top: 0.1rem solid #d1d7e0;
  padding: 0.4rem 0rem;
}

#resumeCommande .passerPaiement {
  border: 0;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
  margin-top: 2.5rem;
  background-color: #1E1E2F;
  color:#d1d7e0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#resumeCommande .passerPaiement span {
  margin-left: 0.3rem;
}





#resumeCheckout {
  background-color: #564f6f;
  color:#d1d7e0;
  padding: 1.5rem
}

#resumeCheckout .titre {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#resumeCheckout form {
  margin-top: 1.6rem;
}

#resumeCheckout form label {
  display: block;
  margin-bottom: 0.15rem;
}

#resumeCheckout input {
  border: 0.12rem solid #424242;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-right: 0.6rem;
}

#resumeCheckout form button {
  border: 0;
  border-radius: 0.2rem;
  padding: 0.2rem 0.6rem;
  background-color: #1E1E2F;
  color:#d1d7e0
}

#resumeCheckout form p {
  margin-top: 0.3rem;
  font-size: 0.85rem;
  color:#d1d7e0
}

#resumeCheckout .passerPaiement {
  border: 0;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
  margin-top: 2.5rem;
  background-color: #1E1E2F;
  color:#d1d7e0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#resumeCheckout .passerPaiement span {
  margin-left: 0.3rem;
}

#formPaiement {
  padding: 0.3rem 1.5rem;
}

#formPaiement input {
   width: 100%;
   padding: 0.45rem 0.4rem;
   border-radius: 0.3rem;
   border: 0.15rem solid #564f6f;
   margin-bottom: 0.4rem;
}

#formPaiement p {
  font-size: 1.4rem;
  color:#d1d7e0;
  border-bottom: 0.15rem solid #d1d7e0;
  margin-top: 0.7rem;
}

.paiementMethode {
  margin-bottom: 0.2rem;
}

#formPaiement span {
  color: #d1d7e0;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: block;
}

#formPaiement span img {
  display: inline-block;
  width: 1.35rem;
  margin-left: 0.3rem;
}

.conditionsUtilisation {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #d1d7e0;
  margin-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.conditionsUtilisation input {
  accent-color: #564f6f;
  outline: 0;
  border-radius: 0.3rem;
  margin-right: 0.6rem;
  margin-left: 0.2rem;
  width: 1rem;
  height: 1rem;
}

.conditionsUtilisation label {
  white-space: nowrap;
}


.margin-end {
  margin-right: 0.2rem;
}

.margin-start {
  margin-left: 0.2rem;
}


/* Page Code Jeux */

#recap {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

#recap div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color:#d1d7e0;
  border-bottom: 0.18rem solid  #d1d7e0;
  padding-bottom: 1.6rem;
}

#recap div span {
  font-size: 4rem;
  text-shadow: 0 0 1rem #564f6f;
}

#recap div h2 {
  margin-top: 0.2rem;
  font-size: 1.4rem;
}

#recap div p {
  margin-top: 0.2rem;
  font-size: 0.95rem;
}


#codeJeux {
  margin-top: 1.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  color:#d1d7e0
}

#codeJeux h2 {
  font-size: 1.4rem;
  padding-left: 0.6rem;
}

.codeDivItem {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.codeDivItemInner {
  background-color: #564f6f;
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.codeDivItemInner h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  border-bottom: 0.15rem solid #d1d7e0;
  padding-bottom: 0.25rem;
  margin-bottom: 0.8rem;
}

.codeDivItemInner form {
  margin-top: 0.4rem;
}

.codeDivItemInner input {
  background-color: #564f6f;
  border: 0.15rem solid #1E1E2F;
  border-radius: 0.3rem;
  color:#d1d7e0;
  padding-left: 0.7rem;
}

.codeDivItemInner button {
  background-color: #1E1E2F;
  border: 0.15rem solid #1E1E2F;
  color:#d1d7e0;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
}

.codeDivItemInner .copier {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-left: 0.4rem;
}


/* Page à propos */

#aPropos {
  color:#d1d7e0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#aPropos h1 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid #d1d7e0;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

#aPropos p {
  background-color: #564f6f;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

#aPropos #premierParagraphe {
  margin-bottom: 2.5rem;
}

#aPropos .reseauxSociaux {
  font-weight: bold;
  margin-left: 1rem;
}

#aPropos .reseauxIcon {
  margin-right: 0.45rem;
}

#aPropos h2 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  border-bottom: 0.15rem solid #d1d7e0;
  padding-bottom: 0.2rem;
  margin-bottom: 0.6rem;
}





/* Page Aide */

#aide {
  color:#d1d7e0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#aide h1 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid #d1d7e0;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

#aide p {
  background-color: #564f6f;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

#aide #premierParagraphe {
  margin-bottom: 2.5rem;
}

#aide .reseauxSociaux {
  font-weight: bold;
  margin-left: 1rem;
}

#aide h2 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  border-bottom: 0.15rem solid #d1d7e0;
  padding-bottom: 0.2rem;
  margin-bottom: 1.2rem;
}

#aide h3 {
  font-size: 1.1rem;
}

#aide span {
  margin-right: 0.45rem;
}




/* Page Contact */


#contact {
  color:#d1d7e0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#contact h1 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid #d1d7e0;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

#contact p {
  background-color: #564f6f;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

#contact #premierParagraphe {
  margin-bottom: 2.5rem;
}

#contact .reseauxSociaux {
  font-weight: bold;
  margin-left: 1rem;
}

#contact .reseauxIcon {
  margin-right: 0.45rem;
}

#contact h2 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  border-bottom: 0.15rem solid #d1d7e0;
  padding-bottom: 0.2rem;
  margin-bottom: 0.6rem;
}





#politiqueRemboursement {
  color:#d1d7e0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#politiqueRemboursement h1 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid #d1d7e0;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

#politiqueRemboursement h2 {
 font-size: 1.4rem;
}






/* Adaptations PC */

@media screen and (min-width:999px) {

  .navLinks {
    margin-left: 1rem;
    background-color: #564f6f;
  }

  .navLinksActive {
    margin-left: 1rem;
    background-color: #d1d7e0;
  }

  .navLinks:hover {
    color:#d1d7e0;
    font-weight: bold;
    text-decoration: underline;
  }

  .navLinksActive:hover {
    color:#2D283E;
    text-decoration: none;
    font-weight: normal;
  }

  header h1 {
    font-size: 2.6rem;
  }

  header img {
    width: 4.2rem; 
    height: 4.2rem;
    background-color: #1E1E2F;
    outline: 0.2rem solid #1E1E2F;
    box-sizing: content-box;
    border-radius: 5rem;
    transition: box-shadow 0.4s, transform 0.5s;
  }
  
  header img:hover {
    transform: scale(1.15);
  }



  #carouselPubs {
    margin-top: 2rem;
  }
  
  .carouselButtonsDiv {
    margin-bottom: 0rem;
  }





  #jeuxRecommandesPC h2 {
    color: #afb5be;
    font-size: 1.2rem;
  }

  #jeuxRecommandesPC .card {
    border: 0;
  }
  
  #jeuxRecommandesPC h2 span {
    font-size: 1rem;
    margin-left: 0.2rem;
  }

 .buttonPrev button {
    transform: translateX(0);
    transition: transform 0.2s;
  }

.buttonPrev button:hover {
    transform: translateX(-0.3rem);
  }

 .buttonNext button {
    transform: translateX(0);
    transition: transform 0.2s;
  }
 .buttonNext button:hover {
    transform: translateX(0.3rem);
  }


  #jeuxRecommandesPC button {
    background-color: #564f6f;
    border-radius: 0.3rem;
    border:0;
    padding: 1.4rem 0.4rem 1rem 0.4rem
  }


  .imgHover {
    transition: transform 0.4s;
    overflow: hidden;
  }
  .imgHover:hover {
    transform: scale(1.05);
  }

  .carouselRecommandesTexte {
    background-color: #564f6f;
    border: 0;
    border-radius: 0 0.3rem 0.3rem 0;
  }

  .carouselRecommandesTexte h5 {
    font-size: 2.4rem;
    color:#d1d7e0;
    border-bottom: 0.2rem solid #d1d7e0;
    padding-bottom: 0.5rem;
  }

  .carouselRecommandesTexte .purchaseDiv {
    margin-top: 1.5rem;
  }

  .carouselRecommandesTexte .purchaseDiv .panierWishlist {
    margin-top: 1.3rem;
  }

  .carouselRecommandesTexte .purchaseDiv .panierWishlist a {
    font-size: 1.5rem;
    margin-right: 0.5rem
  }

  .carouselRecommandesTexte .purchaseDiv a {
    font-size: 1.2rem;

  }

  .carouselRecommandesTexte div p {
    margin-top: 1.5rem;
  }

  .carouselRecommandesTexte .carousselPrix{ 
    font-size: 1.5rem;
    color:#d1d7e0;

  }

  .carouselRecommandesImg {
    background-color: #564f6f;
    border: 0;
  }



  #boutonsPanier a {
    transition: outline 0.1s;
  }

  #boutonsPanier a:hover {
    outline: 0.15rem solid #1E1E2F;
  }

  #boutonsPanierAVenir a {
    transition: outline 0.1s;
  }

  #boutonsPanierAVenir a:hover {
    outline: 0.15rem solid #1E1E2F;
  }



  #recherche {
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
  }
  
  #recherche form {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .divProduits  {
    transition: box-shadow 0.5s;
  }

  .divProduits h3 {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .divProduits span {
    margin-left: 0.25rem;
    font-size: 1rem;
  }

  #jeux {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  
  #jeux .col {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
    transition: transform 0.5s;
  }

  #jeux .col:hover {
    transform: scale(1.04);
  }

  #jeux .col:hover .divProduits {
    box-shadow: 0 0 1.5rem #665f7e;
  }

  #vendeurFiables {
      object-fit: cover;
      width: 100%;
  }
  


  #dernieresSorties {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }

  .dernieresSortiesDiv {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  #dernieresSorties h2 {
    padding-left: 0.9rem;
  }

  .dernieresSortiesDiv h5 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .dernieresSortiesDiv .divContenu .rabais {
    font-size: 1.3rem;
  }

  .dernieresSortiesDiv .divContenu .pourcentageRabais {
    font-size: 1.3rem;
  }

  .dernieresSortiesDiv .divContenu p {
    font-size: 0.9rem;
  }

  .dernieresSortiesDiv .divContenu span {
    font-size: 1.3rem;
  }

  #dernieresSorties button {
    background-color: transparent;
    font-size: 1.4rem;
    text-shadow: 0 0 1rem #d1d7e0;
    color:#d1d7e0;
    border:0;
    padding: 1.4rem 0.4rem 1rem 0.4rem
  }

  .divBoutonsAchat {
    margin-top: 1.3rem;
  }

  .divBoutonsAchat a {
    font-size: 1.2rem;
  }

  .divBoutonsAchat a span {
    font-size: 1.2rem;
  }


  #promotions {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }

  .promotionsDiv {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  #carousselPromotions h2 {
    padding-left: 1.4rem;
  }

  .promotionsDiv h5 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .promotionsDiv .divContenu .rabais {
    font-size: 1.3rem;
  }

  .promotionsDiv .divContenu .pourcentageRabais {
    font-size: 1.3rem;
  }

  .promotionsDiv .divContenu p {
    font-size: 0.9rem;
  }

  .promotionsDiv .divContenu span {
    font-size: 1.3rem;
  }

  #promotions button {
    background-color: transparent;
    font-size: 1.4rem;
    text-shadow: 0 0 1rem #d1d7e0;
    color:#d1d7e0;
    border:0;
    padding: 1.4rem 0.4rem 1rem 0.4rem
  }


  #resumeCommande {
    margin-top: 4.8rem;
    border-radius: 0.5rem;
    margin-right: 1.2re;
  }

  #mainPageJeux {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  #recap div h2 {
    margin-top: 0.4rem;
  }

  #aPropos {
    padding-left: 12rem;
    padding-right: 12rem;
  }
  
  #aPropos h1 {
    margin-top: 2.5rem;
    font-size: 1.8rem;
  }
  
  #aPropos h2 {
    font-size: 1.4rem;
  }



  #aide {
    padding-left: 12rem;
    padding-right: 12rem;
  }
  
  #aide h1 {
    margin-top: 2.5rem;
    font-size: 1.8rem;
  }
  
  #aide h2 {
    font-size: 1.4rem;
  }

}