@font-face {
  font-family: "Archivo Black";
  src: url(polices/ArchivoBlack-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1E1E2F ;
}


/* Header */


header {
  color: #d1d7e0;
  font-family: Archivo Black;
}

header h1 {
  font-size: 2.3rem;
  margin-top: 0.2rem
}

header a span {
  font-size: 2rem;

}


/* Nav */


nav {
  background-color: #564f6f;
}

nav div {
  background-color: #564f6f;
  border-radius: 0.2rem;
}

nav div span {
  color: #d1d7e0;
  font-size: 1.6rem;
}

nav button:focus {
  color: transparent;
  outline: none;
}


.navLinks {
  color: #d1d7e0;
  padding-left: 1.2rem;
  background-color: #47415f;

}

.navLinksActive {
  color: #2D283E;
  background-color: #d1d7e0;
  padding-left: 1.2rem;
  border-radius: 0.2rem;
}

#burgerButton {
  padding-right: 90%;
  padding-left: 0.3rem;
}

/* Caroussel Recommande */

#caroussel h2 {
  color: #afb5be;
  font-size: 1.2rem;
}

#caroussel h2 span {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.imageOverlay{
  border: 0.3rem solid #564f6f;
  background-color: #2D283E;
  border-radius: 0.4rem; 
}

#carousselRecommandes img{
  border: 0.3rem solid #564f6f;
}

#caroussel h3 {
  color: #d1d7e0; 
  margin-top: 0.3rem;
  border-bottom: 0.2rem solid #564f6f;
}


.purchaseDiv a {
  border: 0;
  border-radius: 0.3rem;
  margin: auto 0.15rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  justify-self: end;
}

.purchaseDiv a span{
  color: #2D283E;
}

.purchaseButton:active {
  text-decoration: underline;
}

.exand {
  height: 17.5rem;
}

#controlPrev span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
}

#controlNext span {
  font-size: 1.6rem;
  color: #d1d7e0;
  text-shadow: 0 0 0.9rem white;
}

/* Dernières Sorties */

#dernieresSorties h2 {
  color: #afb5be;
  font-size: 1.2rem;
}

#dernieresSorties h2 span {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.dernieresSortiesDiv {
  background-color: #564f6f;
  border: 0.3rem solid #564f6f;
  color: #d1d7e0
}

.dernieresSortiesDiv h5 {
  border-bottom: 0.2rem solid #1E1E2F; 
  margin-bottom: 0.7rem;
}

.rabais {
  text-decoration:line-through;
}

.pourcentageRabais {
  background-color: #1E1E2F;
  margin: auto 0.4rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.divContenu p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.divBoutonsAchatPasRabais {
  margin-top: 2.4rem;
}

.divBoutonsAchat a {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.15rem 0.4rem;
  background-color: #d1d7e0;
  color: #2D283E;
  text-decoration: none;
  margin-right: 0.1rem;
}

.divBoutonsAchat a span {
  color: #2D283E;
}